@model AgriEnergyConnect.Models.Product
<h2>Add Product</h2>
<form method="post">
    <label>Product Name:</label><input asp-for="ProductName" /><br />
    <label>Category:</label><input asp-for="Category" /><br />
    <label>Date:</label><input asp-for="ProductionDate" type="date" /><br />
    <input type="submit" value="Save" />
</form>
