@model AgriEnergyConnect.Models.Farmer
<h2>Add Farmer</h2>
<form method="post">
    <label>Name:</label><input asp-for="FullName" /><br />
    <label>Farm Name:</label><input asp-for="FarmName" /><br />
    <label>Region:</label><input asp-for="Region" /><br />
    <input type="submit" value="Create" />
</form>
